@media screen and (min-width:768px) and (max-width:1200px){ 
    .imgarticulo{
        width: 40vw;
    }
}
@media screen and (min-width:0px) and (max-width:768px){ 
    .Encabezado__Nombre{
        font-family: "Urae_Nium",italic;
        color: $color-titulo-header;
        font-size: $size-tituloMediaQ;
    }
    .Banner__carrusel{
        width: 100%;
        margin: auto;
        padding: 20px 0px; 
    }
    .Carrousel__Titulo{
        font-size: $size-titulo-carruselMediaQ;
        font-family: "Run";
    }
    .Opciones__Item{
        width: 30vw;
        text-align: left;
    }
    .Principal-Articulo{
        @include ancho-contenido;
        background-color: $color-articulos;
        &__Acceso{
            display: block;
            width: 80vw;
            padding: 2vw 0vw;
            &--Imagen{
                width: 60vw;
            }
            &--Formulario{
                width: 80vw;
            }
        }
        .Formulario{
            padding: 0vw 1vw;
            &__Item{
                width: 50vw;
                margin: auto;
                font-size: $size-texto-central;
                &--caja{
                    width: 50vw;
                }
            }
        }
    }
    .Animacion:hover{
        transform: scale(1);
    }
    .Articulo{
        display: block;
        &__Relacionado{
           margin: auto;
        }
        .Item{
            margin: 10px 0px;
            padding: 5px 2px;
        }
    }
    .imgarticulo{
        width: 60vw;
    }
}


