//aqui queria evitar el import, pense que si desde el styles.scss 
//cargaba las hojas, estas funcionarian de manera global  

@import "base/sizing";

.Encabezado{
    @include dimension-header;
    background-color: $color-header;
    &__Nombre{
        font-family: "Urae_Nium",italic;
        color: $color-titulo-header;
        font-size: $size-titulo;
    }
}