//edito los colores que utilizo en todas las hojas
$color-header:  black;
$color-titulo-header: white;
$color-navbar: #F9F9F9;
$color-breadcrumb: white;
$color-fondobanner: black;
$color-secciones: #F9F9F9;
$color-secciones-mod: #e8e8e8;
$color-articulos: #F9F9F9;
$color-footer: black;
$color-Shadow: gray;
