
@font-face {
    font-family: "Urae_Nium";
    src: url("../fonts/urae_nium/urae_nium.ttf");
}
@font-face {
    font-family: "Run";
    src: url("../fonts/run_2/Run!\ Demo.otf");
}

$font-titulo-card: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$size-titulo-card:1.2em;
$size-titulo: 6em;
$size-tituloMediaQ: 4em;
$size-titulo-seccion: 1.3em;
$size-texto-central: 1.3em;
$size-titulo-carruselMediaQ: 1.2em;